.button {
    cursor: pointer;
    padding: 5px 16px;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    color: black;
}

.button:hover {
    background-color: black;
    color: white;
    transition: all 0.1s linear;
}