.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}