.title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.description {
    width: 90%;
    color: black;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}